body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

}
.full-width {
  width: 100%;
}
.pad-left__small {
  padding-left: 5px;
}
.pad-top {
  padding-top: 10px;
}
.pad-top .mdc-textfield__label--float-above {
  top: 0;
}

.mdc-list-item {
  margin-top: 10px;
}

.mdc-list-item__text {
  width: 300px;
}

.mdc-textfield--fullwidth:not(.mdc-textfield--multiline) {
  height: auto;
}
.text-muted {
  color: #6c757d !important;
}

.lead {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.pull-right {
  float: right;
}

.flexible {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}
.inner-flexible {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.fixed-relative {
  top: inherit;
  left: inherit;
  position: absolute;
}

.success {
  color: green;
}
.error {
  color: red;
}
